div {
  padding: 20px;
}
html {
  background-color: cornflowerblue;
  margin: 0px;
}
body {
  margin: 0px;
  padding: 40px;
}
.node {
  width: 25px;
  height: 25px;
  border: 1px solid black;
  box-sizing: border-box;
  background-color: #fff;
  padding: 0;
  border-spacing: 0;
}

#beginningNode {
  background-color: rgb(80, 201, 80);
}
#targetNode {
  background-color: red;
}
#graph {
  border-collapse: collapse;
  border-spacing: 0;
}
.line {
  display: block;
  width: 100%;
}
.searched {
  background-color: purple;
}
.path {
  background-color: yellow;
}
