@keyframes animatePath {
  from {
    background-color: white;
  }
  to {
    background-color: #ecc94b;
  }
}
@keyframes wallAnimation {
  0% {
    transform: scale(0.3);
    background-color: rgb(12, 53, 71);
  }

  50% {
    transform: scale(1.2);
    background-color: rgb(12, 53, 71);
  }

  100% {
    transform: scale(1);
    background-color: rgb(12, 53, 71);
  }
}
* {
  padding: 0px;
  margin: 0px;
}
html {
  background-color: cornflowerblue;
}
body {
  width: 100%;
  height: 100%;
}
.node {
  box-sizing: border-box;
  width: 25px;
  height: 25px;
  border: 0.1px solid black;
  box-sizing: border-box;
  background-color: #fff;
  padding: 0;
  border-spacing: 0;
}
#beginningNode {
  background-color: green;
}
#targetNode {
  background-color: red;
}
#graph {
  border-collapse: collapse;
  border-spacing: 0;
  margin: 25px 0px;
}
.line {
  display: block;
  width: 100%;
}
.searched {
  background-color: lightgreen;
}

.beenThere {
  background-color: rgba(0, 190, 218, 0.75); /*lightblue*/
}
.pathAnimate {
  background-color: white;
  animation-name: animatePath;
  animation-duration: 1s;
  background-color: #ecc94b;
}
.path {
  background-color: #ecc94b;
}
.wall {
  background-color: rgb(31, 31, 73);
  /*
  animation-name: wallAnimation;
  animation-duration: 0.3s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
  */
}
/* Navigation bar */
nav {
  height: 60px;
  background-color: white;
}
nav ul li {
  float: left;
  list-style: none;
  position: relative;
}
nav ul li a {
  display: block;
  font-family: Arial, Helvetica, sans-serif;
  color: #222;
  font-size: 20px;
  padding: 10px 20px;
  text-decoration: none;
}
nav ul li ul {
  display: none;
  position: absolute;
  background-color: white;
  width: 200px;
  border-radius: 10px;
}
nav ul li:hover ul {
  display: block;
}
nav ul li ul li {
  width: inherit;
}
nav ul li ul li a {
  display: block;
  font-size: 14px;
}
nav ul li ul li:hover a {
  background-color: #f3f3f3;
}
#title {
  font-size: 28px;
  padding: 15px 20px;
}
